#welcome {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#welcome-text {
	flex: 1;
}
#welcome-reg-form {
	flex: 1;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	color: #fff;
}
.footer div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.footer a {
	text-decoration: none;
	color: #fff;
}
